<%= form_for @changeset, Routes.item_path(@conn, :update, @item), [id: "edit_item_form"], fn f -> %>
  <div class="input-group">
    <%= text_input f, :title, class: "form-input", autocomplete: "off", autofocus: true, data: [cancel_url: Routes.list_item_path(@conn, :index, @list)] %>
    <%= submit "Save", class: "btn btn-primary input-group-btn" %>
  </div>
<% end %>
