<%= form_for @changeset, Routes.list_item_path(@conn, :create, @list), fn f -> %>
  <div class="input-group">
    <%= text_input f, :title, class: "form-input", placeholder: "Add something...", autocomplete: "off" %>
    <%= hidden_input f, :due_date %>
    <%= hidden_input f, :order %>
    <%= submit "Add", class: "btn btn-primary input-group-btn" %>
  </div>
<% end %>
